<nav class="navbar navbar-expand-md navbar-dark bg-warning">
    <a class="navbar-brand text-danger" href="#">LIMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <!--  <ul class="navbar-nav mr-auto"  >
        <li class="nav-item"><a class="nav-link text-danger" >Home</a></li>
        <li class="nav-item"><a class="nav-link text-danger" >Accession</a></li>
        <li><a class="nav-link text-danger" href="javascript:void(0);" >Finance</a></li>
        <li class="nav-item "><a class="nav-link text-danger" >CRM</a></li>
        <li><a class="nav-link text-danger" href="javascript:void(0);"  >PLM</a></li>
    </ul>-->

    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link text-danger" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link text-danger" routerLink="Accession">Accession</a></li>
        <li class="nav-item"><a class="nav-link text-danger" routerLink="Finance">Finance</a></li>
        <li class="nav-item"><a class="nav-link text-danger" routerLink="CRM">CRM</a></li>
        <li class="nav-item"><a class="nav-link text-danger" routerLink="PLM">PLM</a></li>
    </ul>

    </div>
</nav>